@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Palet */
    --Main-color: #FC6664;
    --White-color: #FFF;
    --Grey-color: #BFBFBF;
    --Black-color: #535864;

    /* Font Weight */
    --medium: 500;
    --semibold: 600;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--White-color);
    overflow-x: hidden;
}

p {
    color: var(--Black-color);
    font-weight: var(--medium);
    margin: 0;
}

h2 {
    color: var(--Main-color);
    font-weight: var(--semibold);
}

label {
    color: var(--Black-color);
    font-weight: var(--medium);
}

.navbar {
    background-color: var(--White-color);
}

.logo {
    width: 20vw;
}

.navbar button:focus, .navbar button:hover
{
    outline:none;
}

.fa-bars {
    color: var(--Main-color);
}

.nav-link,
.navbar-brand {
    color: var(--Black-color);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: var(--Main-color);
}

.navbar-collapse {
    justify-content: flex-end;
}

header {
    height: 100vh;
    max-width: 100vw;
    background-image: url('images/Japan_BG.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#vanta {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome img {
    width: 60vw;
}

.main_bg_1 {
    height: 50vh;
    max-width: 100vw;
    background-image: url(images/bg_1.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main_bg_2 {
    height: 50vh;
    max-width: 100vw;
    background-image: url(images/bg_2.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main_bg_3 {
    height: 50vh;
    max-width: 100vw;
    background-image: url(images/bg_3.png_large);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    text-align: center;
    border-bottom: 2px solid var(--Black-color);
}

.title_box h1 {
    color: var(--Main-color);
    font-weight: var(--semibold);
}

.title_box h2 {
    color: var(--Black-color);
    font-size: 1.5em;
    font-weight: var(--semibold);
}

.container {
    padding: 12vh;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    /* border: 3px solid var(--Black-color); */
}

.text {
    width: 100%;
}

#about .row .col-10 {
    width: 100vw;
}

#trips .row .col-10 {
    width: 90vw;
}

.trips_box .col-12 {
    padding: 10px;
}

.overlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    background-color: #53586435;
    border: 2px solid #535864;
    border-radius: 10px;
}

.name {
    color: var(--White-color);
    font-weight: var(--semibold);
}

.info_btn {
    padding: 3px 20px;
    background-color: #FC6664;
    border: none;
    border-radius: 20px;
}

.info_btn p {
    color: var(--White-color);
}

#gallery .row .col-10 {
    width: 80vw;
}

.image {
    padding: 5px;
}

.image img {
    width: 100%;
}

#contact .row .col-10 {
    width: 100vw;
}

#contact .col-md-6, #contact .col-12 {
    padding: 5px;
}

.subtitle_box, .contact_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact_title {
    padding: 0;
}

#contact input, #contact select, #contact textarea {
    background-color: var(--White-color);
    border: 2px solid var(--Black-color);
}

#contact label {
    color: var(--Main-color);
    font-weight: var(--semibold);
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--Black-color);
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--Main-color);
    content: '';
    display: inline-block;
    visibility: visible;
}

.gender input {
    margin-right: 10px;
}

.submit_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_btn {
    height: 40px;
    width: 120px;
    background-color: var(--Main-color);
    color: var(--White-color);
    border: none;
    border-radius: 60px;
}

.footer_box {
    width: 100vw;
    border-top: 2px solid var(--Black-color);
}

.footer_container {
    padding: 6vh;
}

.footer_logo {
    width: 20vw;
    margin-bottom: 20px;
}

.media_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--Black-color);
    border-radius: 50%;
}

.media_box i {
    color: var(--Main-color);
}

.phone_number, .mail_adress {
    color: var(--Black-color);
    font-weight: var(--medium);
}

.footer_box .col-12 {
    width: 25vw;
}

.social .row {
    display: flex;
}

.social_items {
    cursor: pointer;
    margin: 2px;
}

.box-1 {
    margin-bottom: 4px;
}

.box-1, .box-2 {
    display: flex;
    align-items: center;
}

.phone, .mail {
    margin-right: 10px;
}

.footer-copyright {
    color: var(--Black-color);
    font-weight: var(--semibold);
}

/* Tablet Styles  */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .welcome img {
        width: 40vw;
    }

    .footer_logo {
        width: 12vw;
    }

    .container {
        max-width: 90vw;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .welcome img {
        width: 20vw;
    }

    .footer_logo {
        width: 8vw;
    }

    .container {
        max-width: 80vw;
    }

    #trips .row .col-10 {
        width: 50vw;
    }

    #gallery .row .col-10 {
        width: 50vw;
    }
}